#include <winver.h>

1 VERSIONINFO
FILEVERSION             1,5,1,0
PRODUCTVERSION        	1,5,1,0
FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
FILETYPE                VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
        VALUE "Comments",         "AviSynth+ plugin interface to libplacebo."
        VALUE "FileDescription",  "avs_libplacebo for AviSynth+."
        VALUE "FileVersion",      "1.5.1"
        VALUE "InternalName",     "avs_libplacebo"
        VALUE "OriginalFilename", "avs_libplacebo.dll"
        VALUE "ProductName",      "avs_libplacebo"
        VALUE "ProductVersion",   "1.5.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
